<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.background.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.background.entity.User">
        <result column="openid" jdbcType="VARCHAR" property="openid" />
        <result column="jing" jdbcType="DOUBLE" property="jing" />
        <result column="wei" jdbcType="DOUBLE" property="wei" />
    </resultMap>

    <select id="Sel" resultType="com.example.background.entity.User">
        select * from user where openid = #{openid}
    </select>

</mapper>